* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5a5555;
  font-size: large;
}

.increment_btn {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.increment_btn:hover {
  background-color: #ccc;
}
