body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

button {
  width: 100px;
  height: 40px;
  margin: 10px;
  color: white;
  background-color: #007bff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  text-align: center;
}

.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 40px;
  font-weight: bold;
  color: #00ff73;
}

.history {
  width: 300px;
  height: 330px;
  margin: 50px auto;
  font-size: 20px;
  color: #007bff;
  overflow-y: auto;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #007bff;
}
